
body {
    background-color: black;
    color: hotpink;
}
ul {
    list-style-type: none;
    position: sticky;
    margin: 0;
    padding: 0;
    background-color: black; 
    color: green;
}

.flex-container li {
    display: flex;
    max-width: 500px; height: 50px; padding: 10px; margin: 20px; border: 5px dashed green;
    justify-content: center;
}


li a {
    display: block;
    color: white;
    text-align: left;
    padding: 15px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
    color: red;
}

.active {
    background-color: #04AA6D;
    color: white;
}